/* HEADER */
.header-container{
    width:100%;
    height:3.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    position: fixed;
    z-index:1; 
    background-color: white;  
}
.header-container li:not(.btn){
    padding:0.8rem;
}
header ul, header li{
    list-style: none;
    display:inline-block;
}
/* header left */
.header-left{
    display:flex;
    align-items: center;
}
#logo{
    margin-right:1rem;
}

/* JUMBOTRON */
.jumbotron{
    padding:8rem 3rem 0rem;
    background-color: var(--bg-color);
    height:42rem;
}
.jumbotron-container{
    width:100%;
    max-width:70rem;
    display:flex;
    justify-content: center;
    margin: auto;
    padding:2rem 0rem;
}
.jumbotron>div:first-child{
    max-width:70rem;
    padding:0rem 0rem 0rem 2.2rem;
    margin:auto;
}
h1{
    font-size: 4.5rem;
    font-family: var(--font-fam);  
    line-height: 5rem;
}

.w7{
    width:70%;
}
.w3{
    width:30%;
}
.text>p{
    margin-bottom:2rem;
}

.text>div{
    margin: 2rem 0rem 3rem;
    font-family: var(--font-fam);  
    color:var(--color-font);
    font-size: var(--size-font);
}
/* ICON */
.text>a::before{
    content:'\f063';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    font-size: 3rem;
    color: var(--dark);
}

/* MAIN */
main{
    margin-top:9rem;
}
/* Business Plan section */
h2{
    font-size: 2.3rem;
    font-family: var(--font-fam);
    margin-bottom: 3rem;
}

.checkbox>span{
    padding:0rem 2rem 0rem 0rem;
    font-family: var(--font-fam);
    font-size: var(--size-font);
    color: var(--color-font);
}
/*  */
.business-plan{
    display: flex;
    justify-content: space-between;
    width:100%;
    max-width:55rem;
    gap:2.5rem;
    margin:2rem auto;
}
.plan{
    width:100%;
    border:0.1rem solid #b6b6b6;
    padding:1rem 0rem;
}
.plan>span:first-child{
    width:100%;
    display:inline-block;
    border-bottom: 0.1rem solid #b6b6b6;
    text-align: center;
    font-family: var(--font-fam);
    color: var(--color-font);
    font-size: var(--size-font);
    line-height: 0.8rem;
}
.plan>*:not(first-child){
    padding:0.5rem 2rem;
}
.plan>*:not(h5){
    font-family: var(--font-fam);
    color: var(--color-font);
    font-size: var(--size-font);
    line-height: 1.5rem;
}
/* Long Button */
.features>.button{
    text-align: center;
    margin:2rem 0rem 1rem;
}
.features div:last-child>a{
    text-decoration: underline;
    color:var(--color-button)
}
/* titles */
h5{
    color:var(--dark);
    font-size: 0.8rem;
    font-family: var(--font-fam);
}
.plan h3{
    font-size: 1.2rem;
    color:var(--dark);
    margin-top: 0.7rem;
}
/* Plan points */
.plan-points{
    margin: 2rem 0rem;
    padding: 0;
}
.users,.space,.function,.point,.users-many{
    line-height: 1.2rem;
    margin-top: 0.8rem;
}
.plan-points>ul{
    list-style-position: outside;
}
.plan-points li::marker{
    content:'✓';
    font-size:1rem;
    color: blue;
}
/* linea grigia */
.features>div>span{
    display:inline-block;
    border-bottom: 0.1rem solid #707070;
    padding:0rem 0rem 2rem 0rem;  
}

/* ICONS */
.checkbox>span:first-child:before{
    content:'\f192';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--color-button)
}
.checkbox span:last-child::before{
    content:'\f111';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
}
/* Business header icons */
#one::before{
    content:'\f406';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
#team::before{
    content:'\f0c0';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
.all::before{
    content:'\f1ad';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
/* Business Icons */
.users::before{
    content:'\f406';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
.team::before{
    content:'\f0c0';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
.space::before{
    content:'\f07b';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
.function::before{
    content:'\f1e0';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--dark);
}
/* .point::before{
    content:'\f00c';
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    color:var(--color-button);
    font-size:1rem;
} */

/* Enterprise section */
/* Column */
.enterprise{
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
    padding:0rem;
    gap:2rem;
}
/* Partnership section */
.partnership{
    border:0px;
    margin-top:2rem;
}
.right>h3, p{
    margin-bottom: 1.5rem;;
}

.btn.special>a{
    color:var(--color-font);
    border:1px solid var(--dark);
    text-align: center;
    background-color: white;
}
#no-padding{
    padding:0rem;
    gap:2rem;
}
/* Dropbox Business section*/
.row{
    display:flex;
    width:100%;
    max-width:70rem;
    justify-content: center;
    margin:0;
    gap:4rem;
}
h3{
    font-family: var(--font-fam);
    color:var(--dark);
    font-size: 1.2rem;
    padding:1rem 0rem;
    line-height: 1.8rem;
}
.bus>h2{
    margin-bottom: 4rem;
}
/* Mini-section */
.db-500{
    max-width:55rem;
    margin:7rem auto 3rem;
    display:flex;
    flex-direction: column;
}
.db-500>h2{
    width:60%;
    margin-bottom: 3.5rem;
}
.db-500>a{
    text-decoration: underline;
    color:var(--color-button);
    margin-bottom: 3.5rem;
}
/* Company */
.company{
    display: flex;
    width:100%;
    margin:auto;
    justify-content: center;
    gap:1rem;
    background-color: rgb(223, 223, 223);;
}

.logos{
    gap: 0rem;
    padding:0rem;
}
.center{
    width:33%;
}
.four-logos{
    width:33%;
}
.logos>img{
    width:70%;
}
/* logo backround */
.square{
    width:50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}
.bg-green{
    background-color: #a2d39b;
    border:1rem solid #d1e9cd;
    padding:3rem;  
}
.bg-bord{
    background-color: #61082b;
    padding:3rem;  
}
.bg-blue{
    background-color: #0093ce;
    padding:3rem;  
}
.bg-red{
    background-color: #ff1c1c;
    padding:3rem;  
}
.bg-red-bd{
    background-color: #d5001f;
    padding:3rem;  
}
.bg-sky{
    background-color: #b4d0e7;
    padding:3rem;  
}
.bg-violet{
    background-color: #0d2481;
    padding:3rem;  
}
.bg-yellow{
    background-color: #ffd830;
    padding:3rem;  
}
.center>div{
    padding:2rem;
}
.center p{
    margin-top:3rem;
}
cite{
    font-style: normal;
}
/* Mini-section (2)*/
.bg{
    background-color: var(--bg-color);
}
.demo{
    flex-direction: row;
    margin:0rem auto;
    padding:6rem 0rem;
    gap:4rem;
    justify-content: space-between;
}
.demo a{
    background-color: var(--white);
    padding:0.5rem 2.5rem;
    line-height: 3rem;
}
.demo>h2{
    color:#61082b;
    line-height: 3rem;
}